*,
*::before,
*::after{
  box-sizing: border-box;
}
 *{
  margin: 0;
  padding: 0;
  font-family: "Times New Roman", serif, "Georgia";
 }

 ul, ol, li, a{
  list-style: none;
  text-decoration: none;
  color: inherit;
 }

/* Temporary */

img{
  width: 300px;
}

 /*  */

 body{
  display: flex;
  flex-flow: column wrap;

  background-color: rgb(22, 22, 22);
  color: cornsilk;
 }

 .nav-bar,
 .header,
 .content,
 .footer{
  padding: 25px 50px;
 }

 /* Navigation Bar */

 .nav-bar{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 20px;
  background-color: rgb(47, 0, 0)
 }
#logo{
  display: flex;
  width: 50px;
  height: auto;
}
#nav-links{
  display: flex;
  gap: 100px;
  align-items: center;
}
.nav-link{
  display: flex;
  font-size: 20px;
  color: yellow;
}

/* Header */

.header{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 20px;
}

.header-container{
  display: flex;
  flex: 1 1 0;
  gap: 20px;
  flex-flow: column wrap;
  justify-content: space-between;
}

.header-hero-container{
  display: flex;
  flex-flow: column wrap;
  gap: 10px;
}
.header-hero{
  font-size: 40px;
  font-weight: bolder;
  color: rgba(0, 75, 0, 1);
}
.header-subhero{
  font-size: 25px;
}

.header-btn-container{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  color: cornsilk;
  background-color: rgb(47, 0, 0);
}
.hero-btn{
  padding: 10px 40px;
  border: 0px solid black;
  border-radius: 10px;
  font-size: 20px;
  color: cornsilk;
  background-color: rgb(47, 0, 0);
}

.image-container{
  display: flex;
  flex-flow: row wrap;
  flex: 1 1 0;
  justify-content: center;
}
.hero-img{
  display: flex;
  flex-flow: row wrap;
  flex: 1 1 0;
  justify-content: center;

  border: 0px solid black;
  border-radius: 10px;
  
}

/* Content */

.content{
  display: flex;
  flex-flow: column wrap;
  gap: 10px;
}
.content-container{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.content-card{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 300px;
  gap: 10px;
}
.card-img{
  border: 0px solid black;
  border-radius: 10px;
}
.card-txt{
  display: flex;
  flex-flow: row wrap;
  font-size: 20px;
  text-align: justify;
}

