*,
*::before,
*::after{
  box-sizing: border-box;
}
 *{
  margin: 0;
  padding: 0;
  font-family: "Times New Roman", serif, "Georgia";
 }

 ul, ol, li, a{
  list-style: none;
  text-decoration: none;
  color: inherit;
 }

/* Temporary */

img{
  width: 300px;
}

 /*  */

 body{
  display: flex;
  flex-flow: column wrap;

  background-color: rgb(22, 22, 22);
  color: whitesmoke;
 }

 .nav-bar,
 .header,
 .content,
 .footer{
  padding: 25px 50px;
 }

 /* Navigation Bar */

 .nav-bar{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 20px;
  background-color: rgb(47, 0, 0)
 }
#logo{
  display: flex;
  width: 50px;
  height: auto;
}
#nav-links{
  display: flex;
  gap: 100px;
  align-items: center;
}
.nav-link{
  display: flex;
  font-size: 28px;
  color: rgb(236, 216, 0);
}

/* Header */

.header{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 20px;
}

.header-container{
  display: flex;
  flex: 1 1 0;
  gap: 20px;
  flex-flow: column wrap;
  justify-content: space-between;
}

.header-hero-container{
  display: flex;
  flex-flow: column wrap;
  gap: 10px;
}
.header-hero{
  font-size: 40px;
  font-weight: bolder;
  color: rgba(0, 75, 0, 1);
}
.header-subhero{
  font-size: 25px;
}

.header-btn-container{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  color: cornsilk;
  background-color: rgb(47, 0, 0);
}
.hero-btn{
  padding: 10px 40px;
  border: 0px solid black;
  border-radius: 10px;
  font-size: 20px;
  color: cornsilk;
  background-color: rgb(47, 0, 0);
}

.image-container{
  display: flex;
  flex-flow: row wrap;
  flex: 1 1 0;
  justify-content: center;
}
.hero-img{
  display: flex;
  flex-flow: row wrap;
  flex: 1 1 0;
  justify-content: center;

  border: 0px solid black;
  border-radius: 10px;
  
}

/* Content */
#content-hero{
  color: rgb(190, 190, 0);
  font-size: 40px;
  font-weight: bolder;
  text-align: center;
}

.content{
  display: flex;
  flex-flow: column wrap;
  gap: 50px;
}
.content-container{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.content-card{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 300px;
  gap: 10px;
}
.card-img{
  border: 0px solid black;
  border-radius: 10px;
}
.card-txt{
  display: flex;
  flex-flow: row wrap;
  font-size: 20px;
  text-align: center;
}

/* Call-to-Action */

.cta-container{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 50px;
  padding: 25px 15px;

  background-color: rgba(0, 75, 0, 1);
}
#cta-left{
  display: flex;
  flex-flow: column wrap;
  flex: 0 1 auto;
  gap: 10px;
}
.cta-hero{
  font-size: 28px;
  color: rgb(236, 216, 0);
}
.cta-subhero{
  font-size: 20px;
  color: cornsilk;
}
#cta-right{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  flex: 0 1 auto;
}
.cta-btn{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  height: fit-content;

  padding: 5px 40px;
  border: 2px solid rgb(22, 22, 22);
  border-radius: 10px;
  font-size: 20px;
  color: cornsilk;
  background-color:rgba(0, 75, 0, 1);
}

/* Quote */
.quote-container{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  padding: 75px 50px;
  background-color: cornsilk;
}
#quote{
  font-size: 32px;
  color: rgb(47, 0, 0);
}
#quote-ref{
  font-size: 28px;
  color: rgb(47, 0, 0);
  align-self: center;
}